* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: unset;
}
#movetop {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 101;
  font-size: 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 3rem;
  height: 3rem;
  background: #189a46;
  padding: 0;
  line-height: 36px;
  border-radius: 50%;
  transition: 0.3s ease-out;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 auto;
}
.container1 {
  max-width: 1280px;
  padding: 0 11rem;
}
.header.fixed-top {
  background-color: #fff;
  z-index: 10;
  transition: all 0.5s;
  top: 40px;
  z-index: 10;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
.header .container {
  padding: 0 25px;
}

.header .navbar .navbar-collapse {
  flex-grow: 0;
}
.navbar-light .navbar-toggler {
  background-color: #189a46;
  color: #fff;
  padding: 6px;
}

.navbar .navbar-brand {
  color: #189a46;
  font-size: 2.125rem;
  font-weight: 600;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #189a46;
}
.header .navbar .nav-item {
  padding: 0 12px;
}
.header .navbar .nav-link,
.navbar .dropdown-item {
  color: #000c04;
  font-weight: 400;
  font-size: 1.2rem;
  transition: all 0.4s;
  position: relative;
  padding: 0;
}

.header .navbar .nav-link:hover {
  color: #189a46;
}

.navbar .dropdown-item:hover {
  color: #189a46;
  background-color: initial;
}

.header .navbar .nav-link::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background-color: #189a46;
  bottom: 0px;
  transition: all 0.4s;
}
.navbar .dropdown-item::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background-color: #189a46;
  bottom: 13px;
  transition: all 0.4s;
}
.header .navbar .nav-link:hover::before {
  width: 100%;
}
.navbar .dropdown-item:hover::before {
  width: 100%;
}
.dropdown-toggle::after {
  display: none;
}
.navbar .dropdown-item {
  padding: 0.35rem 1.5rem 0.9rem 1.5rem;
  width: 100px;
  margin-right: 50px;
}
.navbar .fa-angle-down {
  font-size: 12px;
  padding-left: 2px;
  font-weight: 600;
}
.dropdown-menu.show {
  padding: 10px 30px 10px 6px;
  border-radius: 10px;
  left: -55%;
  top: 130%;
}
.dropdown-menu.show::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid #ddd;
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

.carousel {
  margin-top: 5rem;
  background-image: url(../images/banner4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 0;
  position: relative;
  z-index: -2;
}
.carousel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}
.carousel .content {
  text-align: center;
}
.carousel .content h1 {
  font-size: 3rem;
  font-weight: 600;
  color: white;
}
.carousel .content a,
.carousel .content span {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}

.blog {
  text-align: center;
  margin-top: 6rem;
}
.blog .title span {
  font-size: 0.9rem;
  padding: 0.25rem 0.6rem;
  background-color: #189a46;
  color: #fff;
  font-weight: 600;
  border-radius: 0.4rem;
}
.blog .title h1 {
  font-weight: 600;
  text-align: center;
  padding: 1rem 10rem 0 10rem;
}
.blog .icon {
  text-align: center;
  margin-bottom: 2rem;
}
.blog .icon > span {
  padding: 0 0.8rem;
  color: #696969;
}
.blog .icon span i {
  padding-right: 0.5rem;
  color: black;
  font-size: 0.8rem;
}

.blog .img {
  max-width: 1100px;
  margin: 0 auto;
}
.blog .img img {
  max-width: 100%;
  border-radius: 0.5rem;
}
.blog_content {
  margin: 2rem 0;
}
.blog_content img {
  max-width: 100%;
  border-radius: 0.5rem;
}
.blog_content .quote p::before {
  content: "“";
  font-size: 2.5rem;
  color: #f53626;
  line-height: 0.8;
  padding-top: 0.5rem;
  font-weight: 600;
  display: inline-block;
  font-family: "Merriweather", serif;
}
.blog_content .quote p::after {
  content: " '' ";
  font-size: 1.2rem;
  font-weight: 600;
}
.blog_content .quote span::before {
  content: "━ ";
}
.blog_content .navbar {
  border-top: 1px rgba(105, 105, 105, 0.1) solid;
  border-bottom: 1px rgba(105, 105, 105, 0.1) solid;
}
.blog_content .navbar .row {
  padding: 0.5rem 0;
}
.blog_content .navbar .content img {
  border-radius: 0.5rem;
  max-width: 80%;
}
.blog_content .navbar .left .content .img {
  padding-left: 1rem;
  padding-right: 0;
}
.blog_content .navbar .right .content .img {
  padding-right: 1rem;
  padding-left: 0;
}
.blog_content .navbar .content p {
  padding-left: 0;
  padding-right: 0;
}
.blog_content .navbar .left .content p,
.blog_content .navbar .right .content p {
  padding-top: 1.3rem;
}
.blog_content .navbar .left .content p:hover,
.blog_content .navbar .right .content p:hover {
  color: #189a46;
}
.blog_content .navbar .right {
  text-align: right;
}
.blog_content .navbar .left .content:hover,
.blog_content .navbar .right .content:hover {
  color: black;
}

.comment img {
  max-width: 130%;
  border-radius: 50%;
}
.comment .comment1,
.comment .comment2 {
  padding-bottom: 1.5rem;
}
.comment .comment1 h2,
.comment .comment2 h2 {
  font-size: 1.3rem;
  font-weight: 600;
  padding-left: 1rem;
}
.comment .comment1 span,
.comment .comment2 span {
  font-size: 0.9rem;
  color: rgba(105, 105, 105, 0.6);
  padding-left: 1rem;
}
.comment .comment1 p,
.comment .comment2 p {
  color: #696969;
  font-size: 1.2rem;
  padding-left: 1rem;
}
.comment .comment1 a,
.comment .comment2 a {
  color: #189a46;
  font-weight: 600;
  margin-left: 1rem;
}
.comment .comment1 a:hover,
.comment .comment2 a:hover {
  text-decoration: underline;
}
.comment .comment2 {
  padding-left: 6rem;
}

.post {
  margin: 3rem 0;
}
.post img {
  max-width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  display: block;
}
.post .content {
  border: rgba(105, 105, 105, 0.1) 1px solid;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 2rem 1rem 1rem 1rem;
}
.post .item {
  transition: all 0.75s;
}
.post .item:hover {
  transform: translateY(-1rem);
}
.post .item:hover .content {
  box-shadow: 0.1rem 0.1rem 2rem rgba(105, 105, 105, 0.2);
}
.post .content > a:first-child {
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.25s;
}
.post .content > a:first-child:hover {
  color: #189a46;
}
.post .content span {
  font-size: 1.1rem;
  color: #696969;
}
.post .content span a {
  font-size: 1.1rem;
  color: black;
}
.post .content span a:hover {
  color: #f53626;
}
.post .content > p {
  font-size: 1.2rem;
  color: #696969;
}
.post .content span p {
  padding-top: 0.5rem;
}
.post .content span p i {
  padding-right: 0.3rem;
}
.post .content span p > i:nth-child(2) {
  padding-left: 1rem;
}

.reply {
  margin: 4rem 0;
}
.reply .info input {
  width: 100%;
  font-size: 1.1rem;
  padding: 1rem;
  border: none;
  background-color: #936be80d;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
}
.reply .mes textarea {
  width: 100%;
  font-size: 1.1rem;
  padding: 1rem;
  border: none;
  background-color: #936be80d;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
.reply .button {
  text-align: right;
}
.reply .button button {
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  color: white;
  font-weight: 400;
  border-radius: 0.5rem;
  background-color: #189a46;
}

.footer {
  background: #111;
  color: #696969;
  padding-top: 4rem;
}
.footer .content {
  display: flex;
  padding-bottom: 4rem;
}
.footer .content1 {
  width: 55%;
  line-height: 1.2rem;
}
.footer .content1 .icon i {
  margin-right: 1rem;
  background: #111;
  font-size: 0.9rem;
}
.footer .content1 .icon a:hover {
  color: white;
}
.footer .content1 h1 {
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
  padding: 1rem 0;
}
.footer .content1 a:hover {
  color: white;
  text-decoration: underline;
}
.footer .content2 {
  width: 15%;
  line-height: 2rem;
}
.footer .content2 h2 {
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
  padding: 0.8rem 0;
}
.footer .content2 a:hover {
  color: white;
  text-decoration: underline;
}
.footer .copyright {
  border-top: 1px rgba(105, 105, 105, 0.2) solid;
  text-align: center;
  padding: 1.5rem 0;
}
.footer .copyright a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 992px) {
  .container {
    padding: 0 2rem;
  }
  .container1 {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .footer .content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  .footer .content1 {
    width: 90%;
  }
  .footer .content2 {
    width: 100%;
  }
  .footer .content2:nth-child(4) {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .footer .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer .content1 {
    width: 100%;
  }
  .footer .content2 {
    width: 100%;
  }
  .footer .content2:nth-child(2) {
    padding-left: 1rem;
  }
}
