* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: unset;
}
#movetop {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 101;
  font-size: 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 3rem;
  height: 3rem;
  background: #189a46;
  padding: 0;
  line-height: 36px;
  border-radius: 50%;
  transition: 0.3s ease-out;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 auto;
}
.header.fixed-top {
  background-color: #fff;
  z-index: 10;
  transition: all 0.5s;
  top: 40px;
  z-index: 10;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
.header .container {
  padding: 0 25px;
}

.header .navbar .navbar-collapse {
  flex-grow: 0;
}
.navbar-light .navbar-toggler {
  background-color: #189a46;
  color: #fff;
  padding: 6px;
}

.navbar .navbar-brand {
  color: #189a46;
  font-size: 2.125rem;
  font-weight: 600;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #189a46;
}
.header .navbar .nav-item {
  padding: 0 12px;
}
.header .navbar .nav-link,
.navbar .dropdown-item {
  color: #000c04;
  font-weight: 400;
  font-size: 1.2rem;
  transition: all 0.4s;
  position: relative;
  padding: 0;
}

.header .navbar .nav-link:hover {
  color: #189a46;
}

.navbar .dropdown-item:hover {
  color: #189a46;
  background-color: initial;
}

.header .navbar .nav-link::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background-color: #189a46;
  bottom: 0px;
  transition: all 0.4s;
}
.navbar .dropdown-item::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background-color: #189a46;
  bottom: 13px;
  transition: all 0.4s;
}
.header .navbar .nav-link:hover::before {
  width: 100%;
}
.navbar .dropdown-item:hover::before {
  width: 100%;
}
.dropdown-toggle::after {
  display: none;
}
.navbar .dropdown-item {
  padding: 0.35rem 1.5rem 0.9rem 1.5rem;
  width: 100px;
  margin-right: 50px;
}
.navbar .fa-angle-down {
  font-size: 12px;
  padding-left: 2px;
  font-weight: 600;
}
.dropdown-menu.show {
  padding: 10px 30px 10px 6px;
  border-radius: 10px;
  left: -55%;
  top: 130%;
}
.dropdown-menu.show::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid #ddd;
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

.carousel {
  margin-top: 5rem;
  background-image: url(../images/banner4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 0;
  position: relative;
  z-index: -2;
}
.carousel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}
.carousel .content {
  text-align: center;
}
.carousel .content h1 {
  font-size: 3rem;
  font-weight: 600;
  color: white;
}
.carousel .content a,
.carousel .content span {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}
.gallery {
  text-align: center;
  margin: 5rem 0;
}
.gallery .title {
  line-height: 2rem;
  margin-bottom: 3rem;
}
.gallery .title span {
  font-size: 1.2rem;
  color: #f53626;
}
.gallery .title h1 {
  font-weight: 600;
}
.gallery .content img {
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
}
.gallery .content .img {
  position: relative;
  overflow: hidden;
}
.gallery .content .img::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
}
.gallery .content .img:hover::before {
  animation: shine 0.75s;
}

.footer {
  background: #111;
  color: #696969;
  padding-top: 4rem;
}
.footer .content {
  display: flex;
  padding-bottom: 4rem;
}
.footer .content1 {
  width: 55%;
  line-height: 1.2rem;
}
.footer .content1 .icon i {
  margin-right: 1rem;
  background: #111;
  font-size: 0.9rem;
}
.footer .content1 .icon a:hover {
  color: white;
}
.footer .content1 h1 {
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
  padding: 1rem 0;
}
.footer .content1 a:hover {
  color: white;
  text-decoration: underline;
}
.footer .content2 {
  width: 15%;
  line-height: 2rem;
}
.footer .content2 h2 {
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
  padding: 0.8rem 0;
}
.footer .content2 a:hover {
  color: white;
  text-decoration: underline;
}
.footer .copyright {
  border-top: 1px rgba(105, 105, 105, 0.2) solid;
  text-align: center;
  padding: 1.5rem 0;
}
.footer .copyright a:hover {
  text-decoration: underline;
}

@keyframes shine {
  100% {
    left: 100%;
  }
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9669;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 9999;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  border-radius: 0.5rem;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url("../images/g1.jpg");
}

.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 5rem;
  float: left;
  background: url(../images/img-sprite.png) 40px 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 5rem;
  right: 0;
  float: right;
  background: url(../images/img-sprite.png) -23px 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 0.5rem;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 0.5rem;
  color: #ccc;
}

.lb-data .lb-details {
  width: 90%;
  float: left;
  text-align: left;
  line-height: 1.1rem;
  margin-top: 1rem;
}

.lb-data .lb-caption {
  line-height: 1.8rem;
  color: #fff;
  letter-spacing: 0.5px;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-top: 1rem;
  color: #f53626;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 1rem;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

@media screen and (max-width: 320px) {
  .lb-data .lb-details {
    width: 89%;
    margin-top: 1em;
  }

  .lb-data .lb-caption {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .footer .content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  .footer .content1 {
    width: 90%;
  }
  .footer .content2 {
    width: 100%;
  }
  .footer .content2:nth-child(4) {
    padding-left: 1rem;
  }
  .gallery .content {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 576px) {
  .footer .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer .content1 {
    width: 100%;
  }
  .footer .content2 {
    width: 100%;
  }
  .footer .content2:nth-child(2) {
    padding-left: 1rem;
  }
}
