/* global */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
}
p{
    font-size: 1.2rem;
    line-height: 28px;
    color: #696969;
}
h2{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 48px;
}
span{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 1px;
    color: #f53626;
}
a{
    text-decoration: none;
    color: initial;
}
.container{
    max-width: 1200px;
    padding: 48px 15px;
}


/* header - navbar */
.header.fixed-top{
    background-color: #fff ;
    z-index: 10;
    transition: all 0.5s;
    top: 40px;
    z-index: 10;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
.header .container{
    padding: 0 25px;
}

.header .navbar .navbar-collapse{
    flex-grow: 0;
}
.navbar-light .navbar-toggler{
    background-color:#189A46;
    color: #fff;
    padding: 6px;
}

.navbar .navbar-brand{
    color: #189A46;
    font-size: 2.125rem;
    font-weight: 600;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color:#189A46;
}
.header .navbar .nav-item{
    padding: 0 12px;
}
.header .navbar .nav-link, .navbar .dropdown-item{
    color: #000c04;
    font-weight: 400;
    font-size: 1.2rem;
    transition: all 0.4s;
    position: relative;
    padding: 0;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #189A46;
}
.header .navbar .nav-link:hover{
    color: #189A46;
}

.navbar .dropdown-item:hover{
    color: #189A46;
    background-color: initial;
}

.header .navbar .nav-link::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    background-color: #189A46;
    bottom: 0px;
    transition: all 0.4s;
}
.navbar .dropdown-item::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    background-color: #189A46;
    bottom: 13px;
    transition: all 0.4s;
}
.header .navbar .nav-link:hover::before{
    width: 100%;
}
.navbar .dropdown-item:hover::before{
    width: 100%;
}
.dropdown-toggle::after{
    display: none;
}
.navbar .dropdown-item{
    padding: 0.35rem 1.5rem 0.9rem 1.5rem;
    width: 100px;
    margin-right: 50px ;
}
.navbar .fa-angle-down{
    font-size: 12px;
    padding-left: 2px;
    font-weight: 600;
}
.dropdown-menu.show{
    padding: 10px 30px 10px 6px;
    border-radius: 10px;
    left: -55%;
    top: 130%;
}
.dropdown-menu.show::before{
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #ddd;
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

/* carouse */
.carousel .owl-carousel{
    position: relative;
}
.carousel .owl-carousel .owl-nav{
    display: none;
}
.carousel .owl-carousel .owl-item{
    min-height: calc(100vh - 40px);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .owl-carousel .item1{
    background-image: url(../images/banner1.jpg);
}
.carousel .owl-carousel .item2{
    background-image: url(../images/banner2.jpg);
}
.carousel .owl-carousel .item3{
    background-image: url(../images/banner3.jpg);
}
.carousel .owl-carousel .item4{
    background-image: url(../images/banner4.jpg);
}
.carousel .owl-carousel .owl-item::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0c0c0c;
    opacity: 0.6;
}
.carousel .owl-dots{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform:translateX(-50%) ;
}
.carousel .owl-item .container{
    z-index: 2;
    max-width: 1200px;
}

.carousel .owl-item .info{
    z-index: 2;
    color: #fff;
    max-width: 700px;
}
.carousel .info h5{
    font-size: 4.125rem;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
}
.carousel .info p{
    font-size: 1.2rem;
    margin: 0;
    color: #fff;
}
.carousel .info .readmore{
    background-color: #fff;
    border-radius: 10px;
    line-height: 28px;
    padding: 12px 35px;
    transition: 0.3s ease-in;
    color: #189A46;
    font-size: 1.125rem;
}
.carousel .info .contactus{
    background-color: transparent;
    border-radius: 10px;
    line-height: 28px;
    padding: 12px 35px;
    transition: 0.3s ease-in;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 35px;
    font-size: 1.125rem;
}
.carousel .info .contactus:hover{
    background-color: #fff;
    color: #189A46;
}
/* owlcarousel dot */
.owl-theme .owl-dots .owl-dot span{
    color: #fff;
}
.owl-theme .owl-dots .owl-dot:hover span{
    background:#189A46;    
    width: 30px;
    height: 10px;
}
.owl-theme .owl-dots .owl-dot.active span{
    background:#189A46;    
    width: 30px;
    height: 10px;
}

/* about */
.about{
    padding: 48px 0;
}
.about .container{
    text-align: center;
    max-width: 720px;
}


.read{
    display: inline-block;
    border-bottom: 2px solid #189A46;
    color: #000c04;
    font-size: 1.063rem;
    font-weight: 600;
    margin-top: 20px;
    transition: ease-in-out 0.3s;
}
.read:hover{
    color: #189A46;
}

/* feature */
.feature{
    background: rgba(147, 107, 232, 0.05);
    padding: 3rem 0;
}

.feature i{
    /* display: block; */
    color: #189A46;
    font-size: 1.875rem;
}
.feature a{
    display:block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #000c04;
}
.feature a:hover{
    color: #189A46;

}
.feature .read{
    display: inline-block;
    margin: 20px 0 0;
    font-size: 1.063rem;
}
.feature .item{
    padding: 40px 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: #fff;
    transition: ease 0.5s;
}
.feature .item:hover{
    background: rgba(147, 107, 232, 0.05);
}

/* service */
.service{
    padding: 3rem 0;
}
.service .container{
    align-items: center;
}
.service .left{
    padding: 0 15px 0 48px;
    width: 50%;
}
.service .left img{
    border-radius: 10px;
}
.service .right{
    width: 50%;
    padding: 0 15px;
}
.service .right p{
    margin: 15px 0 35px 0;
}
.service .right li{
    font-size: 1rem;
    line-height: 26px;
    color: #000c04;
    margin: 15px 0;
    font-weight: 600;
    list-style: none;
}
.service .right i{
    color: #189A46;
    margin-right: 12px;
    background: rgba(147, 107, 232, 0.05);
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
}

/* number */
.number{
    padding: 3rem 0;
    background: #189A46;
}
.number .container{
    padding: 0;
    margin: 0 auto;
}
.number .item{
    text-align: center;
}
.number p{
    font-size: 3.125rem;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
}
.number span{
    font-size: 1.25rem;
    line-height: 25px;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
}

/* plan */
.plan{
    padding: 3rem 0;
    background: rgba(147, 107, 232, 0.05);
}
.plan .container{
    text-align: center;
}
.plan .main .container{
    padding: 0;
}
.plan .row{
    align-items: center;
}
.plan .title span{
    display: block;
    margin-bottom: 10px;
    font-size: 1.563rem;
    line-height: 30px;
    font-weight: 600;
}
.plan .item{
    background: #fff;
    border-radius: 10px;
    padding: 3.5em 2.5em;
}
.plan .item h6{
    margin-bottom: 10px;
    font-size: 1.563rem;
    line-height: 30px;
    font-weight: 600;
}
.plan .item label{
    vertical-align: text-top;
    font-size: 1.563rem;
}
.plan .item h4{
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #189A46;
}
.plan .item h4 span{
    color: #999;
}