*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
}

/* header - navbar */
.header.fixed-top{
    background-color: #fff ;
    z-index: 10;
    transition: all 0.5s;
    top: 40px;
    z-index: 10;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
.header .container{
    padding: 0 25px;
}

.header .navbar .navbar-collapse{
    flex-grow: 0;
}
.navbar-light .navbar-toggler{
    background-color:#189A46;
    color: #fff;
    padding: 6px;
}

.navbar .navbar-brand{
    color: #189A46;
    font-size: 2.125rem;
    font-weight: 600;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color:#189A46;
}
.header .navbar .nav-item{
    padding: 0 12px;
}
.header .navbar .nav-link, .navbar .dropdown-item{
    color: #000c04;
    font-weight: 400;
    font-size: 1.2rem;
    transition: all 0.4s;
    position: relative;
    padding: 0;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #189A46;
}
.header .navbar .nav-link:hover{
    color: #189A46;
}

.navbar .dropdown-item:hover{
    color: #189A46;
    background-color: initial;
}

.header .navbar .nav-link::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    background-color: #189A46;
    bottom: 0px;
    transition: all 0.4s;
}
.navbar .dropdown-item::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    background-color: #189A46;
    bottom: 13px;
    transition: all 0.4s;
}
.header .navbar .nav-link:hover::before{
    width: 100%;
}
.navbar .dropdown-item:hover::before{
    width: 100%;
}
.dropdown-toggle::after{
    display: none;
}
.navbar .dropdown-item{
    padding: 0.35rem 1.5rem 0.9rem 1.5rem;
    width: 100px;
    margin-right: 50px ;
}
.navbar .fa-angle-down{
    font-size: 12px;
    padding-left: 2px;
    font-weight: 600;
}
.dropdown-menu.show{
    padding: 10px 30px 10px 6px;
    border-radius: 10px;
    left: -55%;
    top: 130%;
}
.dropdown-menu.show::before{
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #ddd;
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

/* carouse */
.carousel .owl-carousel{
    position: relative;
}
.carousel .owl-carousel .owl-nav{
    display: none;
}
.carousel .owl-carousel .owl-item{
    min-height: calc(100vh - 40px);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .owl-carousel .item1{
    background-image: url(../images/banner1.jpg);
}
.carousel .owl-carousel .item2{
    background-image: url(../images/banner2.jpg);
}
.carousel .owl-carousel .item3{
    background-image: url(../images/banner3.jpg);
}
.carousel .owl-carousel .item4{
    background-image: url(../images/banner4.jpg);
}
.carousel .owl-carousel .owl-item::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0c0c0c;
    opacity: 0.6;
}
.carousel .owl-dots{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform:translateX(-50%) ;
}
.carousel .owl-item .container{
    z-index: 2;
    max-width: 1200px;
}

.carousel .owl-item .info{
    z-index: 2;
    color: #fff;
    max-width: 700px;
}
.carousel .info h5{
    font-size: 4.125rem;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
}
.carousel .info p{
    font-size: 1.2rem;
    margin: 0;
}
.carousel .info .readmore{
    background-color: #fff;
    border-radius: 10px;
    line-height: 28px;
    padding: 12px 35px;
    transition: 0.3s ease-in;
    color: #189A46;
    font-size: 1.125rem;
}
.carousel .info .contactus{
    background-color: transparent;
    border-radius: 10px;
    line-height: 28px;
    padding: 12px 35px;
    transition: 0.3s ease-in;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 35px;
    font-size: 1.125rem;
}
.carousel .info .contactus:hover{
    background-color: #fff;
    color: #189A46;
}
/* owlcarousel dot */
.owl-theme .owl-dots .owl-dot span{
    color: #fff;
}
.owl-theme .owl-dots .owl-dot:hover span{
    background:#189A46;    
    width: 30px;
    height: 10px;
}
.owl-theme .owl-dots .owl-dot.active span{
    background:#189A46;    
    width: 30px;
    height: 10px;
}